{templateType Core\View\Avatar}
<span data-slot="avatar" class="relative flex size-8 shrink-0 overflow-hidden rounded-full">
    <img data-slot="avatar-image" class="aspect-square size-full" alt="shadcn ui kit" src="https://bundui-images.netlify.app/avatars/01.png">
</span>
