{var $template = 'admin/dashboard.latte'}

<header>
    Header
</header>
<sidebar>
    Sidebar
</sidebar>
<main>
    <h1>
        This is the <em>adminral</em>, hello.
    </h1>
    {include $template}
</main>
